@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: 'ui'
);

@use '@/assets/scss/vars';
@use 'element-plus/theme-chalk/src/index.scss' as *;

:root {
  --ui-color-primary: var(--PB-100);
  --ui-color-success: var(--Green-30);

  --ui-color-primary-light-3: var(--PB-80);
  --ui-color-primary-light-5: var(--PB-60);
  --ui-color-primary-light-7: var(--PB-40);
  --ui-color-primary-light-8: var(--PB-20);
  --ui-color-primary-light-9: var(--Brand-grey);
  --ui-color-danger: var(--Red-30);

  --ui-text-color-placeholder: var(--Neu-40);

  --ui-border-radius-base: 6px;
  --ui-font-weight-primary: 400;
  --ui-aside-width: 160px;
}

// button
.ui-button {
  --ui-button-disabled-bg-color: var(--Black-05);
  --ui-button-disabled-border-color: var(--Black-05);
  --ui-button-disabled-text-color: var(--Black-40);

  height: 32px;
  padding: 0 16px;
  box-sizing: border-box;
  font-family: var(--font-med);
  font-weight: var(--font-regular);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .svg-icon {
    width: 12px;
    height: 12px;
  }

  &--large {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;

    .svg-icon {
      width: 14px;
      height: 14px;
    }
  }

  &.ui-button--w100 {
    width: 100%;
  }

  &--small {
    height: 26px;
    padding: 0 8px;
    font-size: 12px;
  }

  &--w100 {
    display: flex;
    width: 100%;
  }

  &--info {
    --ui-button-text-color: var(--Text-primary);
    --ui-button-bg-color: var(--Black-05);
    --ui-button-border-color: var(--Black-05);
    --ui-button-outline-color: var(--Text-primary);
    --ui-button-active-color: var(--Text-primary);
    --ui-button-hover-text-color: var(--Text-primary);
    --ui-button-hover-link-text-color: var(--Text-primary);
    --ui-button-hover-bg-color: var(--Black-10);
    --ui-button-hover-border-color: var(--Black-10);
    --ui-button-active-bg-color: var(--Black-10);
    --ui-button-active-border-color: var(--Black-10);
    --ui-button-disabled-text-color: var(--Black-40);
    --ui-button-disabled-bg-color: var(--Black-03);
    --ui-button-disabled-border-color: var(--Black-03);
  }
}

.ui-link {
  --ui-link-text-color: var(--Blue-30);

  &:hover {
    color: var(--ui-link-text-color);
    text-decoration: underline;
  }
}

.ui-main {
  --ui-main-padding: 0;
}

.ui-drawer {
  --ui-drawer-padding-primary: 0px;
}


//form
.ui-form {
  .ui-form-item {
    margin-bottom: 10px;
    display: block;
    position: relative;

    .ui-form-item__label-wrap {
      font: var(--medium-14);
      color: var(--Text-primary);
    }

    .ui-input__suffix {
      display: none;
    }

    &.is-error {
      margin-bottom: 36px;

      .ui-form-item__error {
        margin-top: 8px;
        text-align: right;
        width: 100%;
        font-size: 14px;
      }
    }

    @media (max-width: vars.$mobile_size) {
      &.is-error {
        .ui-form-item__error {
          text-align: left;
        }
      }
    }
  }
}

.ui-checkbox {
  white-space: normal;
  align-items: flex-start;
}

//select
.ui-select {
  width: 100%;
  --ui-select-input-focus-border-color: var(--PB-100) !important;
}

